.row {
  display:flex;
}

.col {
  display:flex;
  flex-direction: column;
}

.big {
  flex: 1 0 0;
}

.small {
  flex: 2 0 0; 
}

x-canvas {
    width: 100%; 
    height: 100%;
    background: lightblue;
}

canvas { 
    background: lightblue;
}