
<mat-drawer-container class="example-container">
    <mat-drawer mode="side" position="end" opened disableClose>

        <mat-expansion-panel *ngFor="let panel of panels">
            <mat-expansion-panel-header>
            <mat-panel-title>
                {{panel.title}}
            </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-list>
                <mat-list-item *ngFor="let filename of panel.filenames">
                <button mat-button (click)="editor.openFile(filename)">
                    {{filename}}
                </button>
                </mat-list-item>
            </mat-list>
        </mat-expansion-panel>

    </mat-drawer>
    <mat-drawer-content>
        <app-editor #editor></app-editor>
    </mat-drawer-content>
</mat-drawer-container>
