
<mat-drawer-container class="example-container">
    <mat-drawer mode="side" position="end" opened disableClose>

        <mat-accordion>

        <mat-expansion-panel *ngFor="let topic of topics" open>
            <mat-expansion-panel-header>
            <mat-panel-title>
                {{topic.title}}
            </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-list>
                <mat-list-item *ngFor="let filename of topic.filenames">
                <button mat-button (click)="editor.openFile(filename)">
                    {{filename}}
                </button>
                </mat-list-item>
            </mat-list>
        </mat-expansion-panel>

        <mat-expansion-panel>
            <mat-expansion-panel-header>
            <mat-panel-title>
                todo
            </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-list>
                <mat-list-item>
                    todo
                    <app-edit-links component="edit/edit"></app-edit-links>
                </mat-list-item>

                <mat-list-item *ngFor="let item of todo">
                    {{item}}
                </mat-list-item>
            </mat-list>
        </mat-expansion-panel>

        </mat-accordion>

    </mat-drawer>
    <mat-drawer-content>
        <app-editor #editor></app-editor>
    </mat-drawer-content>
</mat-drawer-container>
