.col {
   display: flex;
   flex-direction: column;
}

.row {
   display: flex;
   flex-direction: row;
}

.item {
   flex: 1 0 0;
}

.label {
   flex: 2 0 0;
}

canvas {
    width: 640px;
    height: 320px;
}

.small-toolbar {
    height: 30px;
}
