<div class="col">

    <div class="row">
        <canvas #scene>
        </canvas>

        <!-- mat-card>
        <div class="col">
            <div class="row">
                <div>
                    ATTRIBUTES
                </div>
            </div>
            <div class="row">
                <div class="label">
                A
                </div>
                <div>
                1
                </div>
            </div>
            <div class="row">
                <div>
                    UNIFORMS
                </div>
            </div>
            <div class="row">
                <div class="label">
                A
                </div>
                <div>
                1
                </div>
            </div>
            <div class="row">
                <div class="label">
                A
                </div>
                <div>
                1
                </div>
            </div>
            <div class="row">
                <div class="label">
                A
                </div>
                <div>
                1
                </div>
            </div>
        </div>
        </mat-card -->
    </div>

    <mat-toolbar class="small-toolbar">
        <span>
            <button (click)="build()" mat-button>
                BUILD
            </button>
        </span>
        <mat-checkbox class="small" [(ngModel)]="animating">Animating</mat-checkbox>
    </mat-toolbar>

    <div class="row" width="100%">
        <div class="item">
            <ngx-monaco-editor width="640px" [options]="editorOptions" [(ngModel)]="codeVS"></ngx-monaco-editor>
        </div>
        <div class="item">
            <ngx-monaco-editor width="640px" [options]="editorOptions" [(ngModel)]="codeFS"></ngx-monaco-editor>
        </div>
    </div>

    <app-edit-this height="640px" width="100%" page="shader-builder" class="small">
    </app-edit-this>
       
</div>
