<div class="flexcontainer">

    <div class="smallitem">

    <canvas id="scene" width="640" height="400">
    </canvas>

    </div>
    <div class="bigitem">

        <button mat-button (click)="editor.openFile('client/src/app/home/home.component.ts');">
        client/src/app/home/home.component.ts
        </button>

        <button mat-button (click)="editor.openFile('client/src/app/home/home.component.html');">
        client/src/app/home/home.component.html
        </button>

        <button mat-button (click)="editor.openFile('client/src/app/home/home.component.css');">
        client/src/app/home/home.component.css
        </button>

        <app-editor #editor loadfile="client/src/app/home/home.component.html"></app-editor>
    
    </div>

</div>






