.bigitem {
   /* This will be twice as */
   /* big as the small item. */
   flex: 2 0 0;
}
.smallitem {
   flex: 1 0 0;
}

.flexcontainer {
   display: flex;
   flex-direction: row;
   align-items: flex-start;
}

.fill-remaining-space {
  /* This fills the remaining space, by using flexbox. 
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}

.small-toolbar {
    height: 30px;
}