.bigitem {
   /* small : big */
   /* 2     : 3   */
   flex: 3 0 0;
}
.smallitem {
   flex: 2 0 0;
}

.flexcontainer {
   display: flex;
   flex-direction: row;
   align-items: flex-start;
}

.fill-remaining-space {
  /* This fills the remaining space, by using flexbox. 
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}
.fill-remaining-space-1 {
  /* This fills the remaining space, by using flexbox. 
     Every toolbar row uses a flexbox row layout. */
  flex: 1 auto;
}

.small-toolbar {
    height: 35px;
}