.fill-remaining-space {
  /* This fills the remaining space, by using flexbox. 
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}

.small-toolbar {
    height: 30px;
}

.bottombar {
    bottom:0;
    position:fixed;
    z-index:150;
    _position:absolute;
    _top:expression(eval(document.documentElement.scrollTop+
        (document.documentElement.clientHeight-this.offsetHeight)));
    height:30px;
}

.path {
  stroke-dasharray: 32 3 2 3;
  animation: dash 5s linear;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

@keyframes dash {
  10%, 100% {
    stroke-dashoffset: -40;
  }
}

