
<mat-toolbar no-color="warn">
    <svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="14" height="24">
    <path class="path" fill="none" stroke="darkgray" stroke-width="4" stroke-miterlimit="0" 
    d="M 2 2 L 7 12 L 2 22"
    />    
    </svg>
    <span>{{title}}</span>

    <span class="fill-remaining-space"></span>
    <span>
        <button mat-icon-button (click)="goBack()">
            <mat-icon>keyboard_arrow_left</mat-icon>
        </button>
        <button mat-icon-button (click)="goForward()">
            <mat-icon>keyboard_arrow_right</mat-icon>
        </button>
        <a mat-icon-button href="http://localhost:8000/index.html" queryParamsHandling preserveFragment>
            <mat-icon>cached</mat-icon>
        </a>
    </span>
</mat-toolbar>

<mat-toolbar>
    <span>
        <button *ngFor="let page of pages" mat-button [routerLink]="[page.title]" queryParamsHandling preserveFragment>
            {{page.title}}
        </button>
    </span>
</mat-toolbar>

<div class="content">
    <router-outlet></router-outlet>
</div>

<mat-toolbar class="small-toolbar bottombar">
    <span></span>
    <span class="fill-remaining-space"></span>
    <span>
        <button mat-button [routerLink]="['/']" queryParamsHandling preserveFragment>
        ::app
        </button>
        <app-edit-links component="app"></app-edit-links>
    </span>
    <span>
        <button mat-button [routerLink]="['/home']" queryParamsHandling preserveFragment>
        ::home
        </button>
        <app-edit-links component="home/home"></app-edit-links>
    </span>
    <span>
        <button mat-button [routerLink]="['/commands']" queryParamsHandling preserveFragment>
        commands::
        </button>
        <app-edit-links component="commands/commands"></app-edit-links>
    </span>
    <span>
        <button mat-button [routerLink]="['/edit']" queryParamsHandling preserveFragment>
        edit::
        </button>
        <app-edit-links component="edit/edit"></app-edit-links>
    </span>
    <span>
        <button mat-button [routerLink]="['/edit']" [queryParams]="{name: 'client/src/app/editor/editor.component.ts'}" queryParamsHandling preserveFragment>
        editor::
        </button>
        <app-edit-links component="editor/editor"></app-edit-links>
    </span>
    <!-- mat-divider [inset]="true" [vertical]="true"></mat-divider -->
    <span>
        <button mat-button [routerLink]="['/edit']" [queryParams]="{name: 'client/src/app/app.module.ts'}" queryParamsHandling preserveFragment>
            module::
        </button>
        <button mat-icon-button [routerLink]="['/edit']" [queryParams]="{name: 'client/src/app/app.module.ts'}" queryParamsHandling preserveFragment>
            <mat-icon>view_quilt</mat-icon>
        </button>
    </span>
    <span></span>
</mat-toolbar>
