<div class="col"
>
<div class="big">
    <canvas #scene
    tabindex="1"
    (keydown)="game.onKeyDown($event)"
    (keyup)="game.onKeyUp($event)"
    (mouseenter)="game.onMouseEnter($event)"
    (mouseleave)="game.onMouseLeave($event)"
    (mousemove)="game.onMouseMove($event)"
    (mousedown)="game.onMouseDown($event)"
    (mouseup)="game.onMouseUp($event)"
    on-wheel="game.onMouseWheel($event)"
    on-click="game.onClick($event)"
    on-dblclick="game.onDblClick($event)"
    on-contextmenu="game.onContextMenu($event)"
    >
    </canvas>


    <div>
        ({{game.camera.position.x.toFixed(4)}}, 
        {{game.camera.position.y.toFixed(4)}}, 
        {{game.camera.position.z.toFixed(4)}})
    </div>
    <div>
        ({{game.camera.quaternion.x.toFixed(4)}}, 
        {{game.camera.quaternion.y.toFixed(4)}}, 
        {{game.camera.quaternion.z.toFixed(4)}}, 
        {{game.camera.quaternion.w.toFixed(4)}})
    </div>
</div>

<div class="row small">
    <app-edit-this height="920px" width="100%" file="client/src/app/three-work/game.ts" page="three-work" class="small">
    </app-edit-this>
    <app-edit-this height="920px" width="100%" file="client/src/app/three-work/engine.ts" class="small">
    </app-edit-this>
</div>
</div>
